* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  padding: 20px;
  background-color: #a222;
}

.card img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.card p {
  margin: 20px 0;
}

.card button {
  border: none;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
}
